<h1>Home Page</h1>

<!-- DELETE THIS LINK -->
<h2><%= link_to "Portfolios", portfolios_path %></h2>

 <a href= <%= portfolios_path %>>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/An_artist’s_impression_of_planet_in_the_HD_131399_system.tif/lossy-page1-1024px-An_artist’s_impression_of_planet_in_the_HD_131399_system.tif.jpg" width=80%>
</a>

<h2><%= link_to "Blog Posts", blogs_path %></h2>
<%= @posts.inspect %>

<hr>

<h2> Skills </h2>
<%= @skills.inspect %>